body{
    margin: auto;
    text-align: center;
    background-color: #272d6b;
}
input{
    display: block;
    margin: auto;
    height: 1rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
button{
    display: block;
    margin: auto;
    margin-bottom: 0.25rem;
    height: 2rem;
    width: 5rem;
    font-size: x-large;
    cursor: pointer;
}
#output-div{
    color: rgb(126, 222, 222);
    font-size: larger;
    padding: 1rem;
}
